@use "@/styles/forwarder" as *;

.scratch-host,
.scratch-host *,
.scratch-host canvas,
.scratch-host img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  touch-action: none;
}

.scratch-slot {
  position: absolute;
  color: var(--black-01);

  top: 12%;
  right: 10%;
  width: 58%;

  @include media-breakpoint-up(xxl) {
    right: 9%;
  }

  aspect-ratio: 230 / 165;
  transform: rotate(-3deg);
  transform-origin: center;

  .ScratchCard__Container {
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
  }

  .gif {
    width: 50%;
  }
}
