:root {
  --main-color-01: #182028;
  --main-color-02: #faf6e6;
  --text-color-01: #DDDDDD;
  
  // White
  --white-01: #ffffff;
  --white-02: #e5e5e5;

  // Black
  --black-01: #000000;
  --black-02: #343a40;

  // Gray
  --gray-01: #a8a8a8;
  --gray-02: #6c757d;
}
